<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.rsx.mapper.GoodsParameterMapper">
  <resultMap id="BaseResultMap" type="com.back.rsx.pojo.GoodsParameter">
    <id column="parameter_id" jdbcType="INTEGER" property="parameterId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_icon" jdbcType="VARCHAR" property="parameterIcon" />
    <result column="parameter_price" jdbcType="DOUBLE" property="parameterPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="preferential_price" jdbcType="DOUBLE" property="preferentialPrice" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    parameter_id, goods_id, parameter_name, parameter_icon, parameter_price, stock, preferential_price, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    insert into goods_parameter (parameter_id, goods_id, parameter_name, 
      parameter_icon, parameter_price, stock, 
      preferential_price, status)
    values (#{parameterId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{parameterName,jdbcType=VARCHAR}, 
      #{parameterIcon,jdbcType=VARCHAR}, #{parameterPrice,jdbcType=DOUBLE}, #{stock,jdbcType=INTEGER}, 
      #{preferentialPrice,jdbcType=DOUBLE}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    insert into goods_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        parameter_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="parameterName != null">
        parameter_name,
      </if>
      <if test="parameterIcon != null">
        parameter_icon,
      </if>
      <if test="parameterPrice != null">
        parameter_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="preferentialPrice != null">
        preferential_price,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        #{parameterId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null">
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterIcon != null">
        #{parameterIcon,jdbcType=VARCHAR},
      </if>
      <if test="parameterPrice != null">
        #{parameterPrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null">
        #{preferentialPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    update goods_parameter
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null">
        parameter_name = #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterIcon != null">
        parameter_icon = #{parameterIcon,jdbcType=VARCHAR},
      </if>
      <if test="parameterPrice != null">
        parameter_price = #{parameterPrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null">
        preferential_price = #{preferentialPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    update goods_parameter
    set goods_id = #{goodsId,jdbcType=INTEGER},
      parameter_name = #{parameterName,jdbcType=VARCHAR},
      parameter_icon = #{parameterIcon,jdbcType=VARCHAR},
      parameter_price = #{parameterPrice,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER},
      preferential_price = #{preferentialPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=BIT}
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.itheima.mybatis.pojo.GoodsParameter">
    <id column="parameter_id" jdbcType="INTEGER" property="parameterId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_icon" jdbcType="VARCHAR" property="parameterIcon" />
    <result column="parameter_price" jdbcType="DOUBLE" property="parameterPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="preferential_price" jdbcType="DOUBLE" property="preferentialPrice" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    parameter_id, goods_id, parameter_name, parameter_icon, parameter_price, stock, preferential_price, 
    status
  </sql>
  <select id="selectByExample" parameterType="com.itheima.mybatis.pojo.GoodsParameterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.mybatis.pojo.GoodsParameterExample">
    delete from goods_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    insert into goods_parameter (parameter_id, goods_id, parameter_name, 
      parameter_icon, parameter_price, stock, 
      preferential_price, status)
    values (#{parameterId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{parameterName,jdbcType=VARCHAR}, 
      #{parameterIcon,jdbcType=VARCHAR}, #{parameterPrice,jdbcType=DOUBLE}, #{stock,jdbcType=INTEGER}, 
      #{preferentialPrice,jdbcType=DOUBLE}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    insert into goods_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        parameter_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="parameterName != null">
        parameter_name,
      </if>
      <if test="parameterIcon != null">
        parameter_icon,
      </if>
      <if test="parameterPrice != null">
        parameter_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="preferentialPrice != null">
        preferential_price,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        #{parameterId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null">
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterIcon != null">
        #{parameterIcon,jdbcType=VARCHAR},
      </if>
      <if test="parameterPrice != null">
        #{parameterPrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null">
        #{preferentialPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.mybatis.pojo.GoodsParameterExample" resultType="java.lang.Integer">
    select count(*) from goods_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_parameter
    <set>
      <if test="record.parameterId != null">
        parameter_id = #{record.parameterId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.parameterName != null">
        parameter_name = #{record.parameterName,jdbcType=VARCHAR},
      </if>
      <if test="record.parameterIcon != null">
        parameter_icon = #{record.parameterIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.parameterPrice != null">
        parameter_price = #{record.parameterPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.preferentialPrice != null">
        preferential_price = #{record.preferentialPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_parameter
    set parameter_id = #{record.parameterId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      parameter_name = #{record.parameterName,jdbcType=VARCHAR},
      parameter_icon = #{record.parameterIcon,jdbcType=VARCHAR},
      parameter_price = #{record.parameterPrice,jdbcType=DOUBLE},
      stock = #{record.stock,jdbcType=INTEGER},
      preferential_price = #{record.preferentialPrice,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    update goods_parameter
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null">
        parameter_name = #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterIcon != null">
        parameter_icon = #{parameterIcon,jdbcType=VARCHAR},
      </if>
      <if test="parameterPrice != null">
        parameter_price = #{parameterPrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null">
        preferential_price = #{preferentialPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.mybatis.pojo.GoodsParameter">
    update goods_parameter
    set goods_id = #{goodsId,jdbcType=INTEGER},
      parameter_name = #{parameterName,jdbcType=VARCHAR},
      parameter_icon = #{parameterIcon,jdbcType=VARCHAR},
      parameter_price = #{parameterPrice,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER},
      preferential_price = #{preferentialPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=BIT}
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
</mapper>